@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
body{
    margin: auto;
    background-color: rgb(20, 20, 20); 
    color: white;
}
nav{
    display: flex;
    background-color: rgb(19, 19, 19);
    height: 4%;
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid rgb(83, 83, 83);
    font-family: 'Quicksand', sans-serif;
}
ul{
    list-style: none;
    width: 100%;
}
ul li{
    display: inline;
    font-size: 28px;
    margin-right: 80px;
}
a{
    text-decoration: none;
    color: rgb(0, 153, 224);
}
a:hover{
    color: cyan;
    transition: 0.25s;
}
#container{
    width: 100%;
    height: auto;
}
#content{
    margin-top: 5%;
    width: 100%;
    height: auto;
}
#intro{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    width: 100%;
}
#intro-title{
    font-size: 48px;
}
#intro-text{
    font-size: 32px;
}
.contents-left{
    width: 50%;
    text-align: left;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    border: 0.5px solid rgb(173, 173, 173);
}
.contents-left:hover{
    border: 0.5px solid rgb(0, 183, 255);
}
.contents-right{
    width: 50%;
    text-align: right;
    float: right;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    border: 0.5px solid rgb(173, 173, 173);
}
.contents-right:hover{
    border: 0.5px solid rgb(0, 183, 255);
}
.content-text-left{
    width: 70%;
    float: right;
    clear: both;
}
.content-text-right{
    width: 70%;
    float: left;
    clear: both;
}
.content-text-left-title{
    text-align: left;
}
.content-text-left-info{
    text-align: left;
}
.content-text-right-title{
    text-align: right;
}
.content-text-right-info{
    text-align: right;
}
.content-text-left-img{
    float: left;
    width: 256px;
    height: 256px;
}
.content-text-right-img{
    float: right;
    width: 256px;
    height: 256px;
}

@keyframes bg {
    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}