<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
        <title>Kashix's Project</title>
    </head>
    <body>
        
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="aboutme.html">About me</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div id="container">

            <div id="content">

                <div class="fragment">

                    <h1 class="frag-title">Introduction</h1>
                    <p class="frag-text">Greetings, reader. My name is Iván Delgado Terroso, also known as Kashix on the Internet. I'm a young man studying Web Applications Development. From a child, I'm in love with the technology, mostly computers. When I was a young, I started learning the basic of the web development: HTML and CSS; I've been in touch with other languages though, as Visual Basic, Java and C#. Now, aiming to be a very professional web developer, aiming to work on a very great job.</p>

                </div>

                <div class="fragment">

                    <h1 class="frag-title">Studies</h1>
                    <p class="frag-text">These are all my studies:</p>
                    <ul class="frag-list-main">
                        <li>High School</li>
                            <ul class="frag-list-submain">
                                <li>Microsoft Offimatic</li>
                                <li>A bit of Visual Basic</li>
                                <li>A bit of Java</li>
                                <li>Spanish</li>
                                <li>English</li>
                            </ul>
                        <li>Half of Web Application Development high grade, where I learnt:</li>
                            <ul class="frag-list-submain">
                                <li>MySQL</li>
                                <li>HTML and CSS</li>
                                <li>Windows configuration</li>
                                <li>Linux enviroment</li>
                            </ul>
                        <li>Course of Web application development</li>
                            <ul class="frag-list-submain">
                                <li>HTML and CSS (and Bootstrap)</li>
                                <li>Javascript (and JQuery)</li>
                                <li>PHP</li>
                                <li>MySQL</li>
                                <li>Web design</li>
                                <li>XAMP</li>
                            </ul>
                    </ul>

                    <p class="frag-text">Self got knowledge:</p>
                    <ul class="frag-list-main">
                        <li>HTML, CSS, Javascript</li>
                        <li>JSON</li>
                        <li>MongoDB</li>
                        <li>NodeJS</li>
                        <li>Windows Enviroment</li>
                        <li>Linux enviroment</li>
                    </ul>

                </div>

            </div>

        </div>

    </body>
</html>