<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
        <title>Kashix's Project</title>
    </head>
    <body>
        
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="aboutme.html">About me</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div id="container">

            <div id="intro">
                <h1 id="intro-title">Welcome to my web page!</h1>
                <p id="intro-text">Here, you will be able to see who I am and what I'm working on.</p>
            </div>

            <br>

            <div id="content">

                <div class="contents-left">

                    <div class="content-text-left">
                        <h2 class="content-text-left-title"><a href="projects.html">Projects</a></h2>
                        <p class="content-text-left-info">You will be able to see all the projects I'm currently working on. Also, some good projects I've worked on.</p>
                    </div>
                    <img class="content-text-left-img" src="images/project_placeholder.jpg" alt="Picture of a cute kitty">
                    
                </div>
    
                <div class="contents-right">
    
                    <div class="content-text-right">
                        <h2 class="content-text-right-title"><a href="aboutme.html">About me</a></h2>
                        <p class="content-text-right-info">Do you want to know more about me? Do you want to follow all the progress of development about my projects? This is the right place!</p>
                    </div>
                    <img class="content-text-right-img" src="images/aboutme_placeholder.jpg" alt="Picture of a cute kitty">
                    
                </div>
    
    
                <div class="contents-left">
    
                    <div class="content-text-left">
                        <h2 class="content-text-title"><a href="contact.html">Contact</a></h2>
                        <p class="content-text-info">If you are interested in any aspect of my work, feel free to stay in touch with me!.</p>
                    </div>
                    <img class="content-text-left-img" src="images/contact_placeholder.jpg" alt="Picture of a cute kitty">
                    
                </div>

            </div>

        </div>

    </body>
</html>