<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
        <title>Kashix's Project</title>
    </head>
    <body>
        
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="aboutme.html">About me</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div id="container">

            <div id="content">

                <div class="project">

                    <img src="images/halfmoon.webp" alt="Project's picture">
                    <div class="project-info">
                        <h1 class="project-title">HalfMoon - Discord Bot</h1>
                        <p class="project-description">A Discord bot built in Javascript, NodeJS, using DiscordJS library. Using MySQL as the database, a custom dashboard made in H3H3. Oriented to server administration.</p>
                        <a class="project-read">More information</a>
                    </div>

                </div>

                <div class="project">

                    <img src="images/kashixproj.png" alt="Project's picture">
                    <div class="project-info">
                        <h1 class="project-title">Kashix's Project - Portfolio Web Page</h1>
                        <p class="project-description">This is the main page of the author. The web itself works as a portfolio, to show anyone all the information related to author and his projects. Also, it can be used as a way of contact.</p>
                        <a class="project-read">More information</a>
                    </div>

                </div>

                <div class="project">

                    <img src="images/typingweb.png" alt="Project's picture">
                    <div class="project-info">
                        <h1 class="project-title">Typing web - Web page</h1>
                        <p class="project-description">A web page of typing, to see how fast can you type on your keyboard. It's very basic, everything made on front-end languages and frameworks: HTML5, CSS3, Javascript, JQuery and JSON.</p>
                        <a class="project-read">More information</a>
                    </div>

                </div>

            </div>

        </div>

    </body>
</html>