<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Iván Delgado">
        <meta name="keywords" content="HTML, CSS, JavaScript, Front End, Back end, Web Development, Fullstack, Kashix, Kashix., Iván, Iván Delgado, Portfolio">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Kashix's Project</title>
    </head>
    <body>
        
        <nav>
            <img src="images/folder.png" alt="A blue folder icon" id="nav-icon">
            <ul>
                <li><a href="../index.html#projects">Projects</a></li>
                <li><a href="../index.html#aboutme">About me</a></li>
                <li><a href="../index.html#contact">Contact</a></li>
                <li><a href="../index.html#social">Social</a></li>
            </ul>
        </nav>

        <div id="container">

                        

        </div>

        <footer>
            Kashix's Project &copy;, 2021 - By Iván Delgado
        </footer>

    </body>
</html>